@CHARSET "UTF-8";

.type-mask h2{

  -webkit-animation: scrollmask 10s ease 1.5s infinite;

  -webkit-background-clip: text;

  background-image: url(miss.png);

  color: transparent;

  font-size: 120px;

}

@-webkit-keyframes scrollmask {

  0% {background-position: 0 0;}

  100% {background-position: 100% 0;}





